<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.gadg.contagiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".evento.InviaPartecipazioneEvento"></activity>
        <activity android:name=".gruppo.InvitiGruppi" />
        <activity android:name=".gruppo.VisualizzaGruppoActivity" />
        <activity android:name=".gruppo.GestisciGruppoActivity" />
        <activity android:name=".gruppo.ListaGruppiActivity" />
        <activity android:name=".evento.ListaEventiActivity" />
        <activity android:name=".evento.CreaEventoActivity" />
        <activity android:name=".gruppo.CreaGruppoActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".autenticazione.RegisterActivity" />
        <activity
            android:name=".autenticazione.Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".splash.Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>